/* solarized */

  .base03_fg { color: #002b36; }
  .base02_fg { color: #073642; }
.content0_fg { color: #586e75; }
.content1_fg { color: #657b83; }
   .base0_fg { color: #839496; }
.content2_fg { color: #93a1a1; }
    .bghi_fg { color: #eee8d5; }
      .bg_fg { color: #fdf6e3; }
  .yellow_fg { color: #b58900; }
  .orange_fg { color: #cb4b16; }
     .red_fg { color: #dc322f; }
 .magenta_fg { color: #d33682; }
  .violet_fg { color: #6c71c4; }
    .blue_fg { color: #268bd2; }
    .cyan_fg { color: #2aa198; }
   .green_fg { color: #859900; }

  .base03_bg { background-color: #002b36; }
  .base02_bg { background-color: #073642; }
.content0_bg { background-color: #586e75; }
.content1_bg { background-color: #657b83; }
   .base0_bg { background-color: #839496; }
.content2_bg { background-color: #93a1a1; }
    .bghi_bg { background-color: #eee8d5; }
      .bg_bg { background-color: #fdf6e3; }
  .yellow_bg { background-color: #b58900; }
  .orange_bg { background-color: #cb4b16; }
     .red_bg { background-color: #dc322f; }
 .magenta_bg { background-color: #d33682; }
  .violet_bg { background-color: #6c71c4; }
    .blue_bg { background-color: #268bd2; }
    .cyan_bg { background-color: #2aa198; }
   .green_bg { background-color: #859900; }

/* other */

html {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 10pt;
    vertical-align: baseline;

    font-family: "DejaVu Sans Mono", monospace;
}

span.cursor {
    text-decoration: underline;
}

span.line {
    display: block;
    white-space: pre;
}
